h1 {
  text-align: center; /* Puts the text in the center */
  margin: auto; /* Auto margins */
  background-color: rgb(61, 94, 84); /* Sets the color to a blue */
} 
body {
  background-color: rgb(22, 60, 69); /* Sets the color to a darker blue */
}
/* 61, 94, 84 and 22,60,69 */
.navbar {
  display: flex; /* Enables Flexbox */
  justify-content: space-between; /* Space between elements */
  align-items: center; /* Centers items vertically */
  background-color: #1b3b3b; /* Example background color */
  padding: 10px 20px; /* Add padding for spacing */
  color: #ffffff; /* Text color */
}

.settings, .title, .profile {
  font-family: Arial, sans-serif; /* Choose a font */
  font-size: 18px; /* Adjust font size */
}

.title {
  flex-grow: 1; /* Allows the title to take remaining space */
  text-align: center; /* Centers the title */
  font-style: bold; /* Sets the text to bold */
}
.audio, .video {
  width: 100%; /* Make players responsive */
  max-width: 600px; /* Set a max size */
  margin: 20px auto; /* Center align */
  margin-top: 50px;
  display: block;
}
