body {
  background-color: rgb(5, 25, 35); /* Sets the color to a darker blue */
}
.navbar {
  display: flex; /* Enables Flexbox */
  justify-content: space-between; /* Space between elements */
  align-items: center; /* Centers items vertically */
  background-color: rgb(25, 41, 39); /* Example background color */
  padding: 10px 20px; /* Add padding for spacing */
  color: #ffffff; /* Text color */
}
.settings, .title, .profile {
  font-family: Arial, sans-serif; /* Choose a font */
  font-size: 18px; /* Adjust font size */
}
.title {
  flex-grow: 1; /* Allows the title to take remaining space */
  text-align: center; /* Centers the title */
  font-style: bold; /* Sets the text to bold */
}
.video {
  width: 100%; /* Make players responsive */
  max-width: 800px; /* Set a max size */
  margin: 20px auto; /* Center align */
  margin-top: 35px; /* pushes down the video a bit */
  display: block;
}
.audio {
  width: 100%; /* Make players responsive */
  max-width: 500px; /* Set a max size */
  margin: 20px auto; /* Center align */
  margin-top: 45px; /* pushes down the video a bit */
  display: block;
}
.footer {
  font-size: 7px;
  position: fixed;
  bottom: 0;
  color: #000000;
}
.version {
  font-size: 10px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  text-align: right;
}
.progress {
  font-size: 12px;
  position: fixed;
  bottom: 25px;
  right: 5px;
  text-align: right;
}
.updates {
  font-size: 13px;
  position: fixed;
  bottom: 35px;
  right: 5px;
  text-align: right;
}
  
